export(mc.extract)
export(mc.active.CpG)
export(mc.activ.sample)
export(mc.change)
export(enrich.CpG.feature)
export(mc.annot)
export(chromatin.feature)
export(load.RData)
export(factoall)
export(table.PosXSegm)
export(enrich.test)
import(stringr)
import(fastICA)
import(gridExtra)
import(cowplot)
import(ggplot2)
import(plotrix)
import(broom)
import(RColorBrewer)

